include README.md
include setup.py README.md LICENSE MANIFEST.in requirements.txt
recursive-include interstitial/static/*
recursive-include interstitial/templates/*
recursive-include interstitial/templatetags/*
